.container {
	height: 100%;
	display: flex;
	justify-content: space-around; 	
}

/* Circle */
.app_hover figure {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin: 0;
}
.app_hover div{
	position: relative;
}

.app_hover div p {
	cursor: pointer;

	position: absolute;
	top: 40%;
	left: 25%;
	font-size: 20px;
	z-index: 1;
}

.app_hover img{
	height: 25vw;
	width: 25vw;

	-webkit-filter: blur(3px) opacity(95%); /* Safari */
	filter: blur(3px) opacity(95%);
	-webkit-transition: .4s ease-in-out;
	transtion: .4s ease-in-out;

	cursor: pointer;
}
.app_hover img:hover{
	-webkit-filter: blur(0) opacity(100%); /* Safari */
	filter: blur(0) opacity(100%);
}

.app_hover figure::before {
	pointer-events: none;

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;

	-webkit-animation: circle 1.25s infinite;
	animation: circle 1.25s infinite;
}
.hover15 figure:hover::before {
	pointer-events: none;

	/* TODO: Fix fast pulse */
	/*-webkit-animation: circle .4s infinite;
	animation: circle .4s infinite;*/
}
@-webkit-keyframes circle {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 140%;
		height: 140%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 140%;
		height: 140%;
		opacity: 0;
	}
}