.container {
	display: flex;
	justify-content: space-between; 	
	flex-wrap: wrap;
}
/* Circle */
.app_margin_bot {
	margin-bottom: 8.33vh; /* Vertical space between apps */
}
.app_hover figure {
	position: relative;
	margin: 0;
}
.app_hover div{
	position: relative;
}
.app_hover .app_text { /* TODO: Make this selector work; */
	position: absolute;
	top: 35%;
	z-index: 1;
	text-align: center;
	width: 100%; /* For text-align */
}
.app_hover .app_text h3 {
	font-size: 1.6em;
	line-height: 1.625em;
	margin-top: 0.8125;
	margin-bottom: 0;
}
.app_hover .app_text h3 a{
	color: #EEE9D6; /* Solarized Base2 White */
}
.app_hover .app_text h3 a:hover{
	text-decoration: none;
	text-shadow: -1px 1px 12px #000, 1px -1px 12px #000;
}
.app_hover .app_text p {
	display: inline-block;
	top: 75%;
}
.app_hover .app_text:hover + figure img { /* Clears up img when hover over text */
	-webkit-filter: blur(0) brightness(80%); /* Safari */
	filter: blur(0) brightness(80%);
}
.app_hover.dark_pulse .app_text:hover + figure img { /* Clears up img when hover over text */
	-webkit-filter: blur(0) brightness(170%); /* Safari */
	filter: blur(0) brightness(170%);
}
.app_hover .app_text:hover + figure::before { /* stop pulsing when hover over text */
	pointer-events: none;
	-webkit-animation: circle 0s;
	-moz-animation: circle 0s;
	animation: circle 0s;
}
.app_hover img {
	height: 21.17vw;
	width: 21.17vw;
	-webkit-filter: blur(5px) brightness(30%); /* Safari */
	filter: blur(5px) brightness(30%);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.app_hover img:hover {
	-webkit-filter: blur(0) brightness(80%); /* Safari */
	filter: blur(0) brightness(80%);
}
.app_hover.dark_pulse img:hover {
	-webkit-filter: blur(0) brightness(170%); /* Safari */
	filter: blur(0) brightness(170%);
}
.app_hover figure::before {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-animation: circle 4s infinite;
	-moz-animation: circle 4s infinite;
	animation: circle 4s infinite;
}
.app_hover figure:hover::before {
	pointer-events: none;
	-webkit-animation: circle 0s;
	-moz-animation: circle 0s;
	animation: circle 0s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 130%;
		height: 130%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 130%;
		height: 130%;
		opacity: 0;
	}
}
/* Special Cases */
.app_hover .see_link p { 
	color: #EEE9D6; /* Solarized Base2 White */
	text-align: center;
	font-size: 1.6em;
	line-height: 1.625em;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	left: 0;
	text-shadow: -1px 1px 12px #000, 1px -1px 12px #000;
}