@media only screen and (max-width: 599px) and (orientation: landscape){
	body .app_hover div figure {
		height: 40vw;
		width: 40vw;
	}
	body .app_hover figure img {
		height: 40vw;
		width: 40vw;
	}
	body #applications {
		min-height: 150vw;
	}
	body #skills {
		min-height: 120vw;
	}
	body .third {
		min-height: 30vw;
		width: 100%;
	}
}
/* for phone only. 480 x 854, 480 x 800, 540 x 960, 320 x 480, 480, x 320*/
@media only screen and (max-width: 599px) {
	body #solar_system {
		z-index: -4;
	}
	body .twinkling {
		z-index:-4;
		-moz-animation: none;
		-ms-animation: none;
		-o-animation: none;
		-webkit-animation: none;
		animation: none;
	}
	body .stars {
		background:#000 url(../assets/images/planets.JPG) repeat top center;
		z-index:-3;
		background-attachment: fixed; /* Holds background in place */
		vertical-align: middle;
	}
	body .planetoid {
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		-webkit-animation: none; /* Safari 4+ */
		-moz-animation: none;
		animation: none;
		animation-name: none;
		animation-iteration-count: none;
		animation-timing-function: none; 
	}
	.navbar {
		height: 100px; 
	}
	.navbar a{
		font-size: 1.3em;
		line-height: 1.425em;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: .4em;
		padding-right: .4em;
	}
	.navbar_avoid_padding{
		padding-top: 60px; /* Note: Keep the save as  navbar height */
	}
	#about {
		width: 83.33%;
	}
	.indent {
		text-indent: 2.5em;
	}
	/* app arrangement */
	#applications .container {
		display: block;
	}
	.container .resp_marg {
		margin-bottom: 8.33vh;
	}
	.container .app_hover:nth-child(even) {
		margin-right: 0;
	}
	.app_hover:nth-child(5) {
		margin-bottom: 8.33vh;
	}
	.app_hover {
		text-align: center;
	}
	.app_hover div figure {
		height: 50vw;
		width: 50vw;
		margin: auto;
	}
	.app_hover figure img {
		height: 50vw;
		width: 50vw;
	}
	.title {
		font-size: 1.6em;
		line-height: 1.625em;
		margin-top: 0.8125em;
		margin-bottom: 0;
	}
	#quote p {
		font-size: 1.6em;
		line-height: 1.625em;
		margin-top: 0.8125em;
		margin-bottom: 0;
	}
	#NERD { /* AKA: My picture */
		width: 66.67%;
		float: none;
		display: block;
		margin: auto;
	}
	#app_info {
		width: 100%;
		min-width: 0;
		margin-top: 1.6em;
	}
	.third {
		min-width: 250px; /* So that it automaticly wraps into just one skill box per row */
		min-height: 28vh;
		width: 100%;
	}
	.third h4 {
		margin: 1vh;
		font-size: 1em;
		line-height: 1.3em;
		margin-top: .5em;
		margin-bottom: 0;
	}
	.third li{
		margin: 1vh;
		font-size: .8em;
		line-height: 1.5em;
		margin-top: 0;
		margin-bottom: 0;
	}
	.third ul {
		-moz-column-count: 2;
		-moz-column-gap: 10vw;
		-ms-column-count: 2;
		-ms-column-gap: 10vw;
		-webkit-column-count: 2;
		-webkit-column-gap: 10vw;
		column-count: 2;
		column-gap: 10vw;
		padding-left: 8vw;
	}
	body .app_hover .app_text h3 { 
		font-size: 1em;
		line-height: 1.3em;
		margin-top: 0;
		margin-bottom: 0;
	}
	ul.nav_list li.menu {
		padding-right: .21em;
	}
	/* Mobile Nav Bar Menu */
	.navbar .responsive {
		height: 360px; 
		width: 100%;
		background: -webkit-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */
	}
	ul.nav_list li:not(:first-child) {display: none;}
	ul.nav_list li.menu {
		display: inline-block;
		float: right;
	}
	ul.nav_list {
		display: block;
		padding: 2% 4% 2% 4%;
		margin: 0;
	}
	ul.nav_list.responsive li.menu {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1%;
		margin: 1% 4.17% 0 4.17%;
	}
	ul.nav_list.responsive li {
		float: none;
		display: inline;
	}
	ul.nav_list.responsive li a {
		display: block;
	}
	.navbar li {
		padding: 0;
		margin: 0;
	}
	#contact #contact_bulletin {
		height: 13vh; 
		min-height: 13vh;
	}
	#contact_links {
		margin-top: 1vh;
		margin-bottom: 1vh;
	}
	#contact form input {
		height: 20px;
	}
	body #contact form input, #contact form textarea {
		font-size: 14px;
	}
	#contact form #form_submit {
		font-size: 14px;
	}
	#sun_play {
		display: none;
	}
}
@media only screen and (min-width: 600px) and (max-width: 899px) and (orientation: landscape){
	body .container .app_hover {
		height: 40vh;
		width: 40vh;
	}
	body .app_hover figure img {
		height: 40vh;
		width: 40vh;
	}
	body .app_hover .app_text h3 {
		font-size: 1em !important;
		line-height: 1.3em !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	body .third {
		min-width: 350px; /* So that it automaticly wraps into just one skill box per row */
		height: 35vw;
		width: 100%;
	}
	body .navbar a {
		font-size: 1.6em;
		line-height: 1.625em;
		margin-top: 0; 
		margin-bottom: 0;
		padding-left: .5em;
		text-decoration: none;
		color: #C94C16;
		text-shadow: 0 0 10px #201F1D, 0 0 20px #201F1D, 0 0 30px #201F1D, 0 0 40px #201F1D, 0 0 70px #201F1D, 0 0 80px #201F1D, 0 0 100px #201F1D;
		-webkit-transition: linear 500ms;
		-moz-transition: linear 500ms;
		-o-transition: linear 500ms;
		transition: linear 500ms;
	}
}
/* for tablet, portrait up. 854 x 480, 800 x 480, 960 x 540 */
/* TODO: Create Mobile Nav bar; */
@media only screen and (min-width: 600px) and (max-width: 899px){
	.container .app_hover {
		height: 30vw;
		width: 30vw;
		margin: auto;
	}
	.container .resp_marg {
		margin-bottom: 8.33vh;
	}
	.container .app_hover:nth-child(even) {
		margin-right: 8.33vw;
	}
	.app_hover figure img {
		height: 30vw;
		width: 30vw;
	}
	.navbar_avoid_padding{
		padding-top: 80px; /* Note: Keep the save as  navbar height */
	}
	#quote p{
		font-size: 2.6em;
		line-height: 1em;
		margin-top: -.1em; /* was 0.5 em */
		margin-bottom: 0.5em;
	}
	#about {
		width: 83.33%;
	}
	#app_info {
		width: 100%;
		min-width: 0;
	}
	.third {
		min-width: 350px; /* So that it automaticly wraps into just one skill box per row */
		height: 27vh;
		width: 100%;
	}
	.third h4 {
		font-size: 32px;
		margin: 1.1vh;
	}
	.third li{
		font-size: 1em;
		line-height: 1.5em; /* was 1.3em */
		margin-top: 0; /* was 1.3em */
		margin-bottom: 0;
		margin-right: .5em;
	}
	.third ul {
		-moz-column-count: 2;
		-moz-column-gap: 10vw;
		-ms-column-count: 2;
		-ms-column-gap: 10vw;
		-webkit-column-count: 2;
		-webkit-column-gap: 10vw;
		column-count: 2;
		column-gap: 10vw;
	}
	body .app_hover .app_text h3 { 
		font-size: 1.3em;
		line-height: 1.3em;
		margin-top: 0;
		margin-bottom: 0;
	}
	/* Mobile Nav Bar Menu */
	.navbar .responsive{
		height: 480px; 
		background: -webkit-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */
	}
	ul.nav_list li:not(:first-child) {display: none;}
	ul.nav_list li.menu {
		display: inline-block;
		float: right;
	}
	ul.nav_list {
		display: block;
		padding: 0;
		margin: 0;
	}
	ul.nav_list.responsive li.menu {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.nav_list.responsive li {
		float: none;
		display: inline;
	}
	ul.nav_list.responsive li a {
		display: block;
		text-align: left;
	}
}
/* for tablet landscape up. 1024x768, 1024 x 600, 540 x 960*/
@media only screen and (min-width: 900px) and (max-width: 1199px) {
	.navbar{
		height: 130px; 	
	}
	.navbar_avoid_padding{
		padding-top: 100px; /* Note: Keep the save as  navbar height */
	}
	#quote p{
		font-size: 2.6em;
		line-height: 1em;
		margin-top: -.1em; /* was 0.5 em */
		margin-bottom: 0.5em;
	}
	.third h4 {
		font-size: 1.6em;
		line-height: 1.2em;
		margin-top: 0.8125em;
		margin-bottom: 0;
		text-align: center;
		width: 100%;
	}
	.third li {
		font-size: 1em;
		line-height: 1.5em;
		margin-top: .2em;
		margin-bottom: 0;
	}
	body .app_hover .app_text h3 { 
		font-size: 1.3em;
		line-height: 1.3em;
		margin-top: 0;
		margin-bottom: 0;
	}
	#contact form input {
		height: 20px;
	}
	body #contact form input, #contact form textarea {
		font-size: 14px;
	}
}
/* for extremely big desktops up. 2560 x 1440, 2560 x 1600*/
@media only screen and (min-width: 2100px) {
	.navbar{
		height: 200px; 
	}
	.navbar_avoid_padding{
		padding-top: 200px; /* Note: Keep the save as  navbar height */
	}
	.navbar ul {
		margin-top: 2em;
	}
	/* Fonts & Text */
	.navbar a {
		font-size: 2.6em;
		line-height: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	.third {
		padding: 1.6em;
		margin: .8125em;
	}
	.third h4 {
		font-size: 2.6em;
		line-height: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	.third li{
		font-size: 1.6em;
		line-height: 1.625em;
		margin-top: 0.8125em;
		margin-bottom: 0;
	}
	.title{
		font-size: 4.25em;
		line-height: 1.22352941em;
		margin-top: 0.30588235em;
		margin-bottom: 0.6117647em;
	}
	p{
		font-size: 1.6em;
		line-height: 1.625em;
		margin-top: 0.8125em;
		margin-bottom: 0em;
	}
	body .app_hover .app_text h3 { 
		font-size: 2.6em;
		line-height: 1em;
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	body .app_hover .app_text p { 
		font-size: 1.6em;
	}
	.width_restrict {
		max-width: 900px;
		margin: auto;
	}
	#contact form input {
		height: 1.8em;
	}
	#contact form input, #contact form textarea {
		font-size: 1.3em;
	}
	#contact form #form_submit {
		font-size: 1.6em;
		line-height: 1.625em;
		margin-top: 0.8125em;
		margin-bottom: 0;
		height: 1.8em;
	}
	#contact_links a {
		font-size: 2.6em;
		line-height: 1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}
