/* for phone only. 480 x 854, 480 x 800, 540 x 960, 320 x 480, 480, x 320*/
/* TODO: Create Mobile Nav bar; */
@media only screen and (max-width: 599px) {
	.navbar{
		height: 100px; 
		background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */	
	}
	p{
		font-size: 20px;
	}
	.title{
		font-size: 28px;
	}
	html{
		font-size: 20px;
	}
	#quote p{
		font-size: 33px;
	}
	.indent_1{
		text-indent: 33px;
	}
	.app_hover .see_link p { 
		font-size: 10px;
	}
	ul.nav_list li#nav_home {
		padding-top: 2%
	}
	ul.nav_list li.menu {
		font-size: 30px;
	}
	/* Mobile Nav Bar Menu */
	.navbar .responsive{
		height: 240px; 
		background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */
	}
	ul.nav_list li:not(:first-child) {display: none;}
	ul.nav_list li.menu {
		display: inline-block;
		float: right;
	}
	ul.nav_list {
		display: block;
		padding: 1%;
		margin: 0 4.17% 0 4.17%;
	}
	ul.nav_list.responsive li.menu {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1%;
		margin: 0 4.17% 0 4.17%;
	}
	ul.nav_list.responsive li {
		float: none;
		display: inline;
	}
	ul.nav_list.responsive li a {
		display: block;
		text-align: left;
		padding-top: 2%;
	}
}

/* for tablet, portrait up. 854 x 480, 800 x 480, 960 x 540 */
/* TODO: Create Mobile Nav bar; */
@media only screen and (min-width: 600px) and (max-width: 899px){
	.navbar{
		height: 120px; 
		background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */	
	}
	p{
		font-size: 30px;
	}
	.title{
		font-size: 42px;
	}
	html{
		font-size: 30px;
	}
	#quote p{
		font-size: 50px;
	}
	.indent_1{
		text-indent: 50px;
	}
	.app_hover .see_link p { 
		font-size: 20px;
	}
	ul.nav_list li#nav_home {
		padding-top: 2%
	}
	ul.nav_list li.menu {
		font-size: 40px;
	}

	/* Mobile Nav Bar Menu */
	.navbar .responsive{
		height: 380px; 
		background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */
	}
	ul.nav_list li:not(:first-child) {display: none;}
	ul.nav_list li.menu {
		display: inline-block;
		float: right;
	}
	ul.nav_list {
		display: block;
		padding: 1%;
		margin: 0 4.17% 0 4.17%;
	}
	ul.nav_list.responsive li.menu {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1%;
		margin: 0 4.17% 0 4.17%;
	}
	ul.nav_list.responsive li {
		float: none;
		display: inline;
	}
	ul.nav_list.responsive li a {
		display: block;
		text-align: left;
		padding-top: 2%;
	}
}

/* for tablet landscape up. 1024x768, 1024 x 600, 540 x 960*/
/* TODO: Create Mobile Nav bar; */
@media only screen and (min-width: 900px) and (max-width: 1199px){
	.navbar{
		height: 130px; 
		background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */	
	}
	p{
		font-size: 30px;
	}
	.title{
		font-size: 42px;
	}
	html{
		font-size: 30px;
	}
	#quote p{
		font-size: 50px;
	}
	.indent_1{
		text-indent: 50px;
	}
	.app_hover .see_link p { 
		font-size: 25px;
	}

	/* Mobile Nav Bar Menu */
/*	ul.nav_list li:not(:first-child) {display: none;}
	ul.nav_list li.menu {
		display: inline-block;
		float: right;
	}
	ul.nav_list {
		display: block;
		padding: 1%;
		margin: 0 4.17% 0 4.17%;
	}
	ul.nav_list.responsive li.menu {
		position: absolute;
		right: 0;
		top: 0;
		padding: 1%;
		margin: 0 4.17% 0 4.17%;
	}
	ul.nav_list.responsive li {
		float: none;
		display: inline;
	}
	ul.nav_list.responsive li a {
		display: block;
		text-align: left;
		}*/
	}

	/* for desktop up. 1366x768. 1280x1024, 1280 x 800, 1280 x 720 */
	@media only screen and (min-width: 1200px) {
		p{
			font-size: 25px;
		}
		.title{
			font-size: 35px;
		}
		html{
			font-size: 25px;
		}
		#quote p{
			font-size: 42px;
		}
		.indent_1{
			text-indent: 42px;
		}
		.app_hover .see_link p { 
			font-size: 25px;
		}
	}

	/* for big desktops up. 1920x1080, 2048 x 1536*/
	@media only screen and (min-width: 1800px) {
		/* Fonts & Text */
		p{
			font-size: 30px;
		}
		.title{
			font-size: 42px;
		}
		html{
			font-size: 30px;
		}
		#quote p{
			font-size: 50px;
		}
		.indent_1{
			text-indent: 50px;
		}
		.app_hover .see_link p { 
			font-size: 30px;
		}
	}

	/* for extremely big desktops up. 2560x1440, 2560 x 1600*/
	@media only screen and (min-width: 2100px) {
		.navbar{
			height: 200px; 
			background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1)); /* Standard syntax (must be last) */	
		}
		/* Fonts & Text */
		p{
			font-size: 50px;
		}
		.title{
			font-size: 70px;
		}
		html{
			font-size: 50px;
		}
		#quote p{
			font-size: 83px;
		}
		.indent_1{
			text-indent: 83px;
		}
		.app_hover .see_link p { 
			font-size: 50px;
		}
	}